body {
    background-image: url("multimedijski_sadrzaj/pozadina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}
h3 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}
footer {
   color: aliceblue;
}
