body, ul {
    margin: 0;
    padding: 0;
}
.main-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
.main-navbar li {
    float: left;
  }
  
.main-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.main-navbar li a:hover {
    background-color: #736f6f;
  }

.main-navbar li .active {
    background-color: #82b583;
  }
