body {
    background-color: rgb(162, 191, 209);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}
h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}
p.rounded {
    border: 2px solid whitesmoke;
    border-radius: 5px;
}